@model IEnumerable<CafeApp.Models.Menu>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mt-3">
                <li class="breadcrumb-item"><a class="link-dark" href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Admin Menus</li>
            </ol>
        </nav>

        <h3>Admin Menus</h3>
        <hr />
        <p>
            <a asp-action="Create" class="btn btn-dark btn-sm"><i class="fa-solid fa-utensils"></i> Create Menu <i class="fa-solid fa-utensils"></i></a>
        </p>
        <hr />

        <table class="table table-hover table-bordered table-striped table-sm" id="myTable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Image)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Category)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>                
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>                  
                    <th class="text-center" style="width:60px;">
                        @Html.DisplayNameFor(model => model.Ozel)
                    </th>
                    <th class="text-center" style="width:125px;"><i class="fa-solid fa-gear"></i></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model) {
                    <tr>
                        <td>
                            @if (item.Image == null)
                            {
                                <img src="~/Site/images/no-image.jpg" width="100" height="80" />
                            }
                            else
                            {
                                <img src="@item.Image" width="100" height="80" />
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                                         
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>               
                        <td class="text-center">
                            @if (item.Ozel)
                            {
                                <i class="fa-solid fa-circle-check text-success"></i>
                            }
                            else
                            {
                                <i class="fa-solid fa-circle-xmark text-danger"></i>
                            }
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm"><i class="fa-solid fa-trash"></i> Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}
